@media screen and (max-width: 768px) {

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header nav.navbar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    header section {
        margin-left: unset;
        padding: 20px;
        width: 100%;
    }

    .intro {
        font-weight: bold;
        font-family: 'RalewaySemiBold', sans-serif;
        font-size: 22px;
    }

    .searchbar form {
        right: unset;
        margin-left: unset;
    }

    .search-btn i {
        display: inline;
    }

    .search-btn span {
        display: none;
    }

    .searchbar input {
        flex: 1;
    }

    .tabs {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .tabs a {
        border-bottom: solid 2px rgb(219, 219, 219);
        width: 50%;
        margin: auto;
        text-align: center;
    }
    
    .tabs a:hover, .tabs a.active {
        border-top: none;
        border-bottom: solid 2px blue;
    }
    .searchbar input.search-btn {
        display: none;
    }

    .search-btn-icon {
        display: block;
    }

    div.info {
        margin: unset;
        padding: 20px;
    }

    main {
        height: auto;
    }

    section.all-filter h5 {
        flex: 100%;
    }

    section.all-filter {
        display: flex;
        flex-wrap: wrap;
    }

    div.filter {
        display: flex;
        flex-direction: row;
        padding: 10px
    }
    
    
    section.hotel-popular {
        flex-direction: column;
        align-items: center;
    }

    .hotel-part {
        width: unset;
    }

    .hotel-part h2 {
        width: 100%;
        text-align: left;
    }

    article.popular-part {
        order: -1;
        margin-left: 0px;
        margin-right: 0px;
        border-radius: 0;
        width: 100%;
    }

    .popular-title {
        width: 100%;
    }

    .popular-title h2 {
        text-align: left;
        width: 100%;
    }

    .mobile-icon i:first-child {
        display: none;
    }

    .mobile-icon i:last-child {
        display: block;
        margin-left: 2rem;
    }

    article section.popular div.card {
        width: 325px;
        min-width: auto;
        height: 150px;
    }

    article.hotel-part {
        background-color: white;
        margin-left: 0px;
        margin-right: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 0px;
        padding-left: 0px;
        width: 100%;
    }

    article.hotel-part h2{
        margin-left: 0px;
        width:100%;
        text-align: left;
        padding-left: 6%;
    }

    article.hotel-part section.hotel {
        flex-direction: column;
        width: 90%;
        align-items: center;
    }

    article.hotel-part section.hotel div.card {
        width: 65vw;
        height: 50vw;
        margin: unset;
        padding-right: 0px;
        padding-left: 0px;
        margin-bottom: 20px;
    }

    article.hotel-part div.display-more {
        margin-right: 250px;
    }

    .activity-part section.activity {
        flex-flow: column nowrap;
        align-items: center;
        height: auto;
    }

    .activity-part h2 {
        text-align: left;
        margin-left: 32px;
        margin-bottom: 40px;
    }

    .activity-part section.activity div {
        width: 350px;
        height: 200px;
        margin-bottom: 40px;
    }

    .activity-part section.activity div img {
        height: 80%;
    }

    footer {
        flex-direction: column;
        margin-top: 200px;
    }
}
