@media screen and (max-width: 992px) {

    article.hotel-part h2 {
        text-align: center;
    }

    article.popular-part {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    div.popular-title {
        justify-content: center;
    }

    article section.popular {
       width: max-content;
       height: max-content;
    }

    article section.popular div.card {
        min-width: 800px;
        height: 200px;
    }

    footer {
        justify-content: space-around;
    }

    footer section {
        padding: 10px;
        margin: 0;
    }

    footer section:nth-child(2) {
        margin-right: 30px;
    }


}